# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# IDE
.vscode/

# Docker
*.pid